html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #323237;
    font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#userSelector,
#userInfo,
#newSection {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#box {
    width: 256px;
    height: 192px;
    background-color: lightblue;
    margin-top: 20px;
}

#userInfo,
#newSection {
    display: none;
}

.countryButtons {
    margin-bottom: 8px;
    text-align: center;
}

.countryButtons a {
    width: 45%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 18px;
    text-align: left;
}

#apiOutput {
    color: white;
    text-align: justify;
    margin: 0 auto;
}